canvas{
    border:solid;
    display: block;
    background: rgb(51, 255, 0);
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;    
    font-family: sans-serif;
}
*, * > * {
    padding: 0;
    margin: 0;
}
